[bB]In/
[Oo]bj/
packages/
node_modules/

#app.config
#web.config

*.nugetreferenceswitcher

*.jfm
*.suo
*.user
*.vssscc
*.DotSettings

*.orig

*.dbmdl

_ReSharper.Caches/

.vs
out/
*.stackdump

*.refactorlog
